nav{
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(239, 214, 101);
    // padding: 50px;
    margin: auto;

    ul a{
        color: $fontColor;
        padding: 10px 16px;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        display: block;  
    }

    
}