.nav{
    
    height: 80px;
    width: 100%;
    padding-top: 10px;
    background-color: rgba(222, 14, 14, 1);
    // background-color: rgb(129, 4, 4);
    position: fixed;
    top: 0;
    width: 100%;

    a {
        // color: $fontColor;
        text-decoration: none;
    }
  
    &__logo{
        // border: solid 2px;
        //     border-radius: 20px;
        //     border-color: rgba(2, 2, 2, 0);
        color: $fontColor;
        font-size: 80px;
        font-family: 'Brush Script MT', cursive;
        line-height: 80px;
        padding: 0 50px;
        font-weight: normal;
        

        a {
            color: rgba(255, 255, 0, 0.798);
            text-decoration: none;
        }
    }
    
    &__list {
        
        float: right;
        margin-right: 20px;
        list-style: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: normal;
        
        li{
            // border: solid 2px;
            display: inline-block;
            line-height: 30px;
            margin: 0 5px;
            padding: 25px 20px 0px 20px;
        }
        
        &__link {
            color: $fontColor;
            text-decoration: none; 
            font-size: 20px;
            margin-left: auto;
        }

        &__link:hover{
            color: rgba(0, 0, 0, 0.651);
        }

    } 
}
