//Fonts
$fontPrimary: 'Bai Jamjuree', sans-serif;

//Colors 
$fontColor: #E8EDC8;
// $fontColor: #1acde98f;
$underLinksColor: #ffffff96;
$dropDownContentBoxShadowColor: rgba(165, 86, 21, 0.5);
$dropDownContentBoxColorBackground: rgba(101, 101, 105, 0.3); 
$dropDownContentOnHoverColor: rgba(99, 99, 51, 0.4);
// $buttonOneColor:rgba(9, 61, 95, 0.76);
$buttonOneColor:rgba(48, 5, 4, 0.76);
$buttonTwoColor:rgba(2, 5, 8, 0.908);